

body{
	background-color: rgb(85,125,128);
	background-image: url('images/gradientbackground2.jpg');
	background-size: 100% 60em;
	background-repeat: no-repeat;
	font-family: helvetica, arial, san-serif;
	z-index: 0;
	width: 100%;
	
}
/*BEGIN NAVIGATION MENU*/
.webpage{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	width: 60em;
}
.navwrap{
	position: relative;
	display: block;
	width: 100%;
	z-index: 10;
	margin-left: auto; 
	margin-right: auto;
}
.socialbar{
	position: relative;
	width: 100%;
	min-width: ;
	max-width: ;
	height:2em;
	background-color: white;
	overflow: hidden;
	margin:  0 auto 0 auto;
}

.socialbar p{
	float: right;
	margin-top: 0.2em;	
}
#fb{
	margin-right: 2.5em;
	margin-left: .5em;
}
.navbar{
	top: 0em;
	width: 100%;
	min-width: ;
	max-width: ;
	position: relative;
	margin:  0 auto 0 auto;
	background-color: white;
	overflow: auto;
	z-index: 10;
	
}
.navbar a{
	text-decoration: none;
	font-size: 1.1em;
	color: rgb(42,62,64);
}
.navbar p{
	float: left;
	padding-left:2em;
	margin: 0 1em 2em auto;
	
}
.navbar img{
	width: 12em;
	height: 1.25em;
	margin-left: 1em;
	margin-right: 1.5em;
}

.navbar a:hover {
	color: rgb(225,166,106);
	background-color: #fff;
}
.navbar hr{
	width: 90%;
}
/*END NAVIGATION MENU*/

/*BEGIN MAIN CONTENT BOX*/
.wrapper{
	position: relative;
	top: ;
	width: 100%;
	margin:  0 auto 0 auto;
}
.featurebox{
	position: relative;
	width: 100%;
	max-width: ;
	min-width: ;
	height: 50em;
	margin: 0 auto 0 auto;
	background-color: rgb(255,255,255);
	padding-top: 2em;
}
#featimg img{
	position:absolute;
	width: 100%;
	min-height: 23em;
	z-index:0;
}
.feature{
	position:relative;
	border: .1em solid black;
	width: 90%;
	margin: 0 auto 0 auto;
	overflow: hidden;
	color: white;
}
.feature h1{
	position: relative;
	left: 2em;
}
.feature p{
	position: relative;
	width: 90%;
	margin-top: 12em;
	margin-bottom: 1em;
	padding-right: 2em;
	left: 4em;
}
/*END MAIN CONTENT BOX*/
/*START FOUR CONTENT BOXES*/
.fourcontentboxes{
	position: relative;
	width: 75%;
	top: 10em;
	z-index:10;
	margin-left: auto;
	margin-right:auto;
}
.fourcontentboxes p{
	position: relative;
	float: left;
	width: 22%;
	height: 10em;
	z-index:10;
	margin: 0 .5em 0 .5em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	background-color: orange;
}
.fourcontentboxes img{
	display: block;
	position: relative;
	width: 25%;
	margin:  0 auto 1em auto;
	z-index: 12;
}
/*END FOUR CONTENT BOXES*/